version: '3.8'

services:
postgres:
  image: postgres:13
  environment:
    POSTGRES_USER: ${DB_USERNAME}
    POSTGRES_PASSWORD: ${DB_PASSWORD}
    POSTGRES_DB: ${DB_NAME}
  ports:
    - '5432:5432'
  volumes:
    - pgdata:/var/lib/postgresql/data
  networks:
    - nest-net

networks:
  nest-net:

volumes:
  pgdata:
